@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

body {

}

h1 {
  font-size: 5em;
  margin-bottom: 1em;
  color:blue;
font-family: 'Gotu', sans-serif;
min height:10em;
text-align:center;
}


h2 {
  font-size: 2em;
  margin-bottom: 0.65em;
  color: red;
}

figcaption {
  font-size: 0.75em;
  font-style: italic;
}
